#row2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 45px;
    background-color: rgb(219, 219, 219, 0.5);
    margin-bottom: 10px;
    cursor: pointer;
}

.dropdown1_div,
.dropdown2_div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 325px; /* Adjust width as needed */
}
